<header>
  <ul>
    <li><%= link_to 'Linkedin', 'https://www.linkedin.com/in/javierjhm/', target: :_blank %></li>
    <li><%= link_to 'Medium', 'https://medium.com/@javierjhm', target: :_blank %></li>
    <li><%= link_to 'Github', 'https://github.com/wickathou', target: :_blank %></li>
    <li><%= link_to 'CV', 'https://www.dropbox.com/s/vxy7k479a3l9ogc/Javier%20Hernandez%20-%20Resume%20mech-web.pdf?dl=0', target: :_blank %></li>
  </ul>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
  </ul>
</header>