<div>
  <div>
    <h1>
      <%= @project.title %>
    </h1>
    <ul>
      <li>Language tag</li>
      <li>Language tag</li>
      <li>Language tag</li>
      <li>Language tag</li>
      <li>Language tag</li>
    </ul>
  </div>
  <div>
    <%= image_tag('black.svg', :size => '100x100') %>
  </div>
  <div>
    <h3>
      <%= @project.description %>
    </h3>
  </div>
  <div>
    <%= button_to 'Prev', projects_path, :method => 'get' %>
    <%= button_to 'Next', projects_path, :method => 'get' %>
  </div>
</div>